/* def des Polices */
@font-face {
    font-family: 'advent_probold';
    src: url('../font/adventpro_bold_macroman/adventpro-bold-webfont.eot');
    src: url('../font/adventpro_bold_macroman/adventpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/adventpro_bold_macroman/adventpro-bold-webfont.woff2') format('woff2'),
         url('../font/adventpro_bold_macroman/adventpro-bold-webfont.woff') format('woff'),
         url('../font/adventpro_bold_macroman/adventpro-bold-webfont.ttf') format('truetype'),
         url('../font/adventpro_bold_macroman/adventpro-bold-webfont.svg#advent_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'advent_proextralight';
    src: url('../font/adventpro_extralight_macroman/adventpro-extralight-webfont.eot');
    src: url('../font/adventpro_extralight_macroman/adventpro-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/adventpro_extralight_macroman/adventpro-extralight-webfont.woff2') format('woff2'),
         url('../font/adventpro_extralight_macroman/adventpro-extralight-webfont.woff') format('woff'),
         url('../font/adventpro_extralight_macroman/adventpro-extralight-webfont.ttf') format('truetype'),
         url('../font/adventpro_extralight_macroman/adventpro-extralight-webfont.svg#advent_proextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'advent_prolight';
    src: url('../font/adventpro_light_macroman/adventpro-light-webfont.eot');
    src: url('../font/adventpro_light_macroman/adventpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/adventpro_light_macroman/adventpro-light-webfont.woff2') format('woff2'),
         url('../font/adventpro_light_macroman/adventpro-light-webfont.woff') format('woff'),
         url('../font/adventpro_light_macroman/adventpro-light-webfont.ttf') format('truetype'),
         url('../font/adventpro_light_macroman/adventpro-light-webfont.svg#advent_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'advent_promedium';
    src: url('../font/adventpro_medium_macroman/adventpro-medium-webfont.eot');
    src: url('../font/adventpro_medium_macroman/adventpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/adventpro_medium_macroman/adventpro-medium-webfont.woff2') format('woff2'),
         url('../font/adventpro_medium_macroman/adventpro-medium-webfont.woff') format('woff'),
         url('../font/adventpro_medium_macroman/adventpro-medium-webfont.ttf') format('truetype'),
         url('../font/adventpro_medium_macroman/adventpro-medium-webfont.svg#advent_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'advent_proregular';
    src: url('../font/adventpro_regular_macroman/adventpro-regular-webfont.eot');
    src: url('../font/adventpro_regular_macroman/adventpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/adventpro_regular_macroman/adventpro-regular-webfont.woff2') format('woff2'),
         url('../font/adventpro_regular_macroman/adventpro-regular-webfont.woff') format('woff'),
         url('../font/adventpro_regular_macroman/adventpro-regular-webfont.ttf') format('truetype'),
         url('../font/adventpro_regular_macroman/adventpro-regular-webfont.svg#advent_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'advent_prosemibold';
    src: url('../font/adventpro_semibold_macroman/adventpro-semibold-webfont.eot');
    src: url('../font/adventpro_semibold_macroman/adventpro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/adventpro_semibold_macroman/adventpro-semibold-webfont.woff2') format('woff2'),
         url('../font/adventpro_semibold_macroman/adventpro-semibold-webfont.woff') format('woff'),
         url('../font/adventpro_semibold_macroman/adventpro-semibold-webfont.ttf') format('truetype'),
         url('../font/adventpro_semibold_macroman/adventpro-semibold-webfont.svg#advent_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'advent_prothin';
    src: url('../font/adventpro_thin_macroman/adventpro-thin-webfont.eot');
    src: url('../font/adventpro_thin_macroman/adventpro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/adventpro_thin_macroman/adventpro-thin-webfont.woff2') format('woff2'),
         url('../font/adventpro_thin_macroman/adventpro-thin-webfont.woff') format('woff'),
         url('../font/adventpro_thin_macroman/adventpro-thin-webfont.ttf') format('truetype'),
         url('../font/adventpro_thin_macroman/adventpro-thin-webfont.svg#advent_prothin') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1,h2,h3,h4,h5,h6
{
  font-family: 'advent_probold';
}
h1{  font-size: 80px;}
h2{  font-size: 70px;}
h3{  font-size: 60px;}
h4{  font-size: 50px;}
h5{  font-size: 45px;}
h6{  font-size: 38px;}

p{
  font-family: 'advent_prolight';
  font-size: 22px;
}
a{
  font-family: 'advent_prolight';
  font-size: 22px;
  color: black;
}
a:hover{
  font-family: 'advent_prosemibold';
  color: grey;
}






/*Réinitialisation des attribues*/
body{
  margin: 0px;
}

header p
{
  margin-top: 0px;
}

header h1, footer
{
  font-family: 'advent_probold';
}

/*Généralité*/

#Page{
  text-align: center;
}

p {
  text-align: center;
}

/*Header*/

header{
background: url("image/motif-web.jpg") repeat;
}

/*Corp*/
section img{
  display: inline-block;
}
section{
  background: url("image/motif-web1.jpg") repeat center;
  }
#case1{
  top:650px;
  left: 78px;
}
#case2{
  top:643px;
  left: 205px;
}
#case3{
  top:643px;
  left: 63px;
}/*
#case4{
  top:643px;
  left: 63px;
}
#case5{
  top:643px;
  left: 63px;
}
#case6{
  top:643px;
  left: 63px;
}
#case7{
  top:643px;
  left: 63px;
}
#case8{
  top:643px;
  left: 63px;
}
#case9{
  top:643px;
  left: 63px;
}
#case10{
  top:643px;
  left: 63px;
}
#case11{
  top:643px;
  left: 63px;
}
#case12{
  top:643px;
  left: 63px;
}
#case13{
  top:643px;
  left: 63px;
}
#case14{
  top:643px;
  left: 63px;
}
#case15{
  top:643px;
  left: 63px;
}
#case16{
  top:643px;
  left: 63px;
}
#case17{
  top:643px;
  left: 63px;
}
#case18{
  top:643px;
  left: 63px;
}
#case19{
  top:643px;
  left: 63px;
}
#case20{
  top:643px;
  left: 63px;
}
#case21{
  top:643px;
  left: 63px;
}
#case22{
  top:643px;
  left: 63px;
}
#case23{
  top:643px;
  left: 63px;
}
#case24{
  top:643px;
  left: 63px;
}*/

/*Footer*/

footer{
  background: url("image/motif-web.jpg") repeat;
}

footer p{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 22px;
  padding-top: 22px;
}
.body {

	font: 87.5%/1.5em 'Lato', sans-serif;
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	padding: 0;
}


.calendar-container {
  margin-left: 35%;
	width: 450px;
}

.calendar-container header {
	border-radius: 1em 1em 0 0;
	background: #e66b6b;
	color: #fff;
	padding: 3em 2em;
  text-align: center;
}

.day {
	font-size: 4em;
	font-weight: 900;
	line-height: 1em;
}

.month {
	font-size: 2em;
	line-height: 1em;
	text-transform: lowercase;
}

.calendar {
	background: rgba(59,59,59,0.25);
	border-radius: 0 0 1em 1em;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	color: #555;
	display: inline-block;
	padding: 4em;
}

.calendar thead {
	color: #e66b6b;
	font-weight: 700;
	text-transform: uppercase;
}

.calendar td {
	padding: .5em 1em;
	text-align: center;
}

.calendar tbody td:hover {
	background: #cacaca;
	color: #fff;
}

.current-day {
	color: #e66b6b;
}

.prev-month,
.next-month {
	color: #cacaca;
}

.ring-left,
.ring-right {
	position: absolute;
	top: 230px;
}

.ring-left { left: 2em; }
.ring-right { right: 2em; }

.ring-left:before,
.ring-left:after,
.ring-right:before,
.ring-right:after {
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
	content: "";
	display: inline-block;
	margin: 8px;
	height: 32px;
	width: 8px;
}
